<div class="container">
   <form>
      <div>
         <label for="text">Procure Artigos</label> 
         <input name="query" required="" type="text" /> 
         <button type="submit">Pesquisar</button>
      </div>
   </form>
   <div>
      <table>
         <thead>
            <tr>
               <th>Resumo</th>
               <th>Categoria</th>
               <th>Data</th>
               <th>Link</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>{{ article.snippet }}</td>
               <td>{{ article.news_desk }}</td>
               <td>{{ article.pub_date | date: 'dd/MM/yyyy' }}</td>
               <td><a href="{{ article.web_url }}" target="_blank">Acesse</a></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>